<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Основная информация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="header">
        <h1>Основная информация</h1>
        <nav>
            <ul class="nav-list">
                <li><a href="/">Главная</a></li>
                <li><a href="/upgrade_system">Система повышения</a></li>
                <li><a href="/awards">Награды</a></li>
                <li><a href="/documentation">Документация</a></li>
                <li><a href="/military_doctors">Военоврачи 1-го ранга</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <p>Здесь будет основная информация.</p>
    </section>

    <footer>
        <p class="footer-text">©Ренди где мой РПС?</p>
    </footer>
</body>
</html>
